apiVersion: 1

datasources:
  - name: Docker InfluxDB
    type: influxdb
    access: proxy
    url: http://{{INFLUXDB_HOST}}:{{INFLUXDB_CONTAINER_PORT}}
    isDefault: true
    database: {{INFLUXDB_DATABASE}}
    secureJsonData:
      basicAuthPassword: {{INFLUXDB_ADMIN_PASSWORD}}
    basicAuth: true
    basicAuthUser: {{INFLUXDB_ADMIN_USER}}
